// text color

$c1-text-cl: #fff;
$c2-text-cl: #62646a;
$c3-text-cl: #1dbf73;
$c4-text-cl: #9b9da2;
$c5-text-cl: #ffbe5b;
$c6-text-cl: #b5b6ba;

//bg-color

$c1-bg-cl: #19a463;
$c2-bg-cl: #fff;

$c3-bg-cl: #f1fdf7;
$c4-bg-cl: #c6c6c6;
$c5-bg-cl: #f5f5f5;
$c6-bg-cl: #efeff0;
$c7-bg-cl: #74767e;
$c8-bg-cl:#e4e5e7 ;
//text-size

$c1-text-s: 16px;
$c2-text-s: 20px;
$c3-text-s: 50px;
$c4-text-s: 55px;
$c5-text-s: 40px;
$c6-text-s: 30px;

$c7-text-s: 18px;
$c8-text-s: 12px;
$c9-text-s: 24px;
$c10-text-s: 14px;

//text-weigth

$c1-text-w: 300;
$c2-text-w: 400;
$c3-text-w: 600;
$c4-text-w: 700;
