.slider-content {
  padding: 0 80px 0 50px;
  .main-slide {
    padding: 10px 0 50px 0;
    h2 {
      margin-bottom: 30px;
    }
    .slider-card {
      // height: 350px;

      img {
        cursor: pointer;
        @media screen and (max-width: 586px) {
          width: 100%;
        }
      }
    }
  }
  .slick-slide {
  }
  .slick-next {
    right: 0px;
    @media screen and (max-width: 768px) {
      right: 50px;
    }
    @media screen and (max-width: 586px) {
      right: -10px;
    }
  }
  .slick-next::before,
  .slick-prev::before {
    color: black;
    font-size: 30px;
  }
  .free-talent {
    background-color: $c3-bg-cl;
    .container {
      padding: 60px 0;
      .row {
        @media screen and (max-width: 768px) {
          flex-direction: column;
          margin-bottom: 20px;
        }
        .col-5 {
          margin-right: 80px;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
          .talent-content {
            .content {
              .title {
                display: flex;
                align-items: center;
                i {
                  font-size: $c2-text-s;
                  margin-right: 10px;
                  color: $c4-text-cl;
                }
                h5 {
                  margin: 0;
                  line-height: 30px;
                }
              }
              .text {
                font-size: $c2-text-s;
                color: $c4-text-cl;
              }
              @media screen and (max-width: 375px) {
                .title {
                  h5 {
                    font-size: $c1-text-s;
                  }
                }
                .text {
                  font-size: $c7-text-s;
                }
              }
            }
          }
        }
        .col-6 {
          .modal-btn::after {
            content: "";
            display: inline-block;
            background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png)
              no-repeat;
            background-size: 80px;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 1;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            @media screen and ( max-width:376px) {
              background-size: 50px;
              width: 50px;
            }
          }
          @media screen and (max-width: 768px) {
            width: 100%;
          }
          position: relative;
          .video-content {
            position: absolute;
            width: 90%;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            img {
              width: 100%;
            }

            .play-btn {
              width: 80px;
              position: absolute;
              top: 40%;
              left: 40%;
              cursor: pointer;
              @media screen and (max-width:375px) {
                width: 50px;
              }
            }
            @media screen and (max-width: 768px) {
              position: relative;
              transform: translate(0%, 0%);
              top: 0%;
              left: 0%;
              width: 100%;
            }
          }
          @media screen and (max-width: 768px) {
            margin-top: 20px;
           
          }
        }
      }
    }
  }
  .explore {
    .container {
      padding: 80px 0;
      h2 {
      }
      ul {
        display: flex;
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;
        li {
          flex: 0 0 calc(20% - 30px);
          margin-bottom: 40px;
          a {
            display: flex;
            position: relative;
            // text-align: center;
            flex-direction: column;
            align-items: center;
            img {
              width: 50px;
              margin-bottom: 20px;
              height: 80px;

            }
          }
          ::after {
            content: "";
            position: absolute;
            width: 60px;
            bottom: 50px;
            // top: 30%;
            top: 0;
            border-bottom: 2px solid $c4-text-cl;
            transition: all 0.2s;
          }
          &:hover::after {
            padding: 0 -20px 8px;
          }
          @media screen and (max-width:769px) {
            flex: 0 0 calc(30% - 30px);
              
            }
          @media screen and (max-width:587px) {
          flex: 0 0 calc(50% - 30px);
            
          }
        }
      }
    }
  }
}
